<app-header titulo="Grid"></app-header>

<ion-content>

    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" size-lg="4" size-md="4" size-sm="6" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
                <ion-card>
                    <ion-img src="/assets/stan-lee.jpg"></ion-img>

                    <ion-card-header>
                        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                        <ion-card-title>Awesome Title</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi nostrum asperiores ratione esse provident maxime tempora exercitationem sint modi omnis recusandae dolorum veritatis distinctio velit repellendus eius, reiciendis assumenda fuga.
                    </ion-card-content>


                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>




</ion-content>