<app-header titulo="Card"></app-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-item color="primary">
            <ion-icon slot="start" name="pin-outline"></ion-icon>
            <ion-label>Marcador</ion-label>
        </ion-item>

        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima enim obcaecati porro suscipit pariatur commodi libero consectetur dolorum expedita eaque autem, minus quia cumque quis recusandae, dignissimos explicabo nisi assumenda.
        </ion-card-content>
    </ion-card>


    <ion-card>
        <img src="https://4.bp.blogspot.com/-vvqE5NLUMfs/UtBsMu7vkwI/AAAAAAAAAL0/9N5vyVb0Tzk/s1600/enb2014_1_10_13_4_2.bmp">
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima enim obcaecati porro suscipit pariatur commodi libero consectetur dolorum expedita eaque autem, minus quia cumque quis recusandae, dignissimos explicabo nisi assumenda.
        </ion-card-content>
    </ion-card>

</ion-content>